<h1><%= @message.title %></h1>

<p>
  Author: <%= @message.author %>
</p>

<p>
  <%= @message.content  %> <a href="<%= message.url %>"><small>(url)</small></a>
</p>

<hr/>
<a href="/messages">Back to All Messages</a>